%h2 Student Index

%table.table.table-striped
  %tr
    %th Name
    %th Email
    %th DOB
    %th Gender
    %th
    %th
    %th
  
  - @students.each do |student|
    %tr
      %td= student.full_name
      %td= student.email
      %td= student.birth_date
      %td= student.gender
      %td= link_to "Show", student_path(student)
      %td= link_to "Edit", edit_student_path(student)
      %td= link_to "Delete", student, method: :delete, data: { confirm: 'Are you sure?' }

.apple_pagination
  = will_paginate @students
