%div.form-container

  = render 'shared/error_messages', obj: @course

  = form_for @course do |f|
    .form-group
      = f.label :name, "Course Name"
      = f.text_field :name
    .form-group
      = f.label :description, "Description"
      = f.text_area :description
    .form-group
      = f.label :number_of_semesters, "Number of Semesters"
      = f.number_field :number_of_semesters
    .form-group
      = f.label :start_date, "Start Date"
      = f.date_select :start_date
    .form-group
      = f.label :end_date, "End Date"
      = f.date_select :end_date
    .form-group
      = f.label :allocation, "Allocation"
      = f.number_field :allocation
    .form-group
      = f.label :institute, "Institute"
      = f.select_tag :institute, options_from_collection_for_select(Institute.all, :id, :name)
    .form-group
      = f.submit "Update", class: 'btn btn-success'

= link_to 'Back', courses_path, class: 'btn btn-info'
